<!-- <div class="p-2">
  <table class="table table-sm table-striped">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Наличие</th>
        <th>Price</th>
        <th>Supplier</th>
        <th>Ratings</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.availability}}</td>
        <td>{{product.price}}</td>
        <td>{{product.supplier?.name || 'None'}}</td>
        <td>{{product.category?.name || 'None'}}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary m-1" (click)="createProduct()">
    Create Product
</button>
<button class="btn btn-primary m-1" (click)="updateProduct()">
  Update Product
</button>
<button class="btn btn-primary m-1" (click)="deleteProduct()">
  Delete Product
</button>

</div>



<button class="btn btn-primary btn-sm"
(click)="selectProduct(product.id || 2)">
Details
</button>


<router-outlet></router-outlet> -->
hello
<div class="content">
  <router-outlet></router-outlet>
</div>