<!-- 
<table>
  <tr>
    <td>&nbsp;</td>
    <td>Knocky</td>
    <td>Flor</td>
    <td>Ella</td>
    <td>Juan</td>
  </tr>
  <tr>
    <td>Breed</td>
    <td>Jack Russell</td>
    <td>Poodle</td>
    <td>Streetdog</td>
    <td>Cocker Spaniel</td>
  </tr>
  <tr>
    <td>Age</td>
    <td>16</td>
    <td>9</td>
    <td>10</td>
    <td>5</td>
  </tr>
  <tr>
    <td>Owner</td>
    <td>Mother-in-law</td>
    <td>Me</td>
    <td>Me</td>
    <td>Sister-in-law</td>
  </tr>
  <tr>
    <td>Eating Habits</td>
    <td>Eats everyone's leftovers</td>
    <td>Nibbles at food</td>
    <td>Hearty eater</td>
    <td>Will eat till he explodes</td>
  </tr>
</table> -->

<div class="content">
    <div class="links">
        <div class="linkTables">
            <table class="tableLinks">
                <tr>
                <th>Покупателям</th>
                <th>Партнерам</th>
                <th>Компания</th>
                <th>Мы в соцсетях</th>
                </tr>
                <tr>
                    <td>Как сделать заказ;</td>
                    <td>Способы оплаты</td>
                    <td>Доставка</td>
                    <td>Возврат товара</td>

                </tr>
                <tr>
                    <td>Продавайте на Jabai;</td>
                    <td>Курьерам</td>
                    <td>Перевозчикам</td>
                    <td>Партнерский пункт выдачи</td>

                </tr>
                <tr>
                    <td>О нас;</td>
                    <td>Реквизиты</td>
                    <td>Пресс-центр</td>
                    <td>Контакты</td>

                </tr>
                <tr>
                    <td>ВКонтакте;</td>
                    <td>Одноклассники</td>
                    <td>YouTube</td>
                    <td>Телеграм</td>

                </tr>
            </table>

        </div>

        <div class="qr">
          <div class="text">
            Приложение Jabai Store
          </div>
          <div class="qrContent">
            <div class="qrPic">
              <img src="https://cdn-icons-png.flaticon.com/512/714/714390.png" width="120" alt="">
            </div>
            <div class="qrText">
              Наведите камеру, чтобы скачать приложение
            </div>
            <div class="qrIcons">
              <div class="qrIconsEl appStore">
                <img src="https://cdn-icons-png.flaticon.com/512/5977/5977575.png" alt="">
              </div>
              <div class="qrIconsEl playMarket">
                <img src="https://cdn-icons-png.flaticon.com/512/6124/6124997.png" alt="">
              </div>
            </div>
          </div>

        </div>
    </div>
    <div class="policy">
      2004-2023 © Jabai — Магазин для универсального назначения . Все права защищены. Доставка по всем странам СНГ.

    </div>
</div>